:root {
      --bg-light: rgb(255, 255, 255);
    --text-dark: #000000;
    --font-main: 'Segoe UI', sans-serif;

    --h1-bg: #E6BEAE;
    --h1-text: #000000;
    --H1-border: #E9DE79;
    --h2-text:var(--h1-text);
    --h2-bg: var(--h1-bg);
    --h2-border: #E9DE79;
    --h3-text: var(--h1-text);

    --list-bg: #e8f8f0;
    --list-border: #A1D69A;
    --strong-text: var(--h3-text);
    --code-bg: #f0f0f0;

    --def-bg: #f2fef9;
    --def-border: var(--h1-bg);
    --def-title: var(--text-dark);

    --nav-bg: var(--h2-text);
    --nav-text: var(--code-bg);

    --footer-bg: var(--h1-bg); 
    --footer-text: var(--h1-text);

}


    body {
        display:grid;
        grid-template-areas: 
        'header'
        'nav'
        'main'
        'footer';
        grid-template-columns:1fr ;
        grid-template-rows: 1fr ;
        

    }

nav ul {
list-style: none;
display: flex;
justify-content: space-between;
}
nav a {
text-decoration: none;
}
nav a:hover {
text-decoration: underline;
}
header{
 h1{
    text-align: center;
    

} 
background-color:var(--h1-bg);
}
main{
    height:1000vh;

h1 {
    
color:var(--h1-text);
}
h2{

    color:var(--h1-text);
  
}
h3{

    color:var(--h1-text);
}
h4{

    color:var(--h1-text);
}
  p{

 color:var(--h1-text);

  }
}
footer{
    h3{
    
        color:#000000;
    }
    background-color:var(--h1-bg);
}

header{
    grid-area:header;
   
}
nav{
    grid-area:nav;
}
main{
    grid-area:main;
}
footer{
    grid-area:footer;
}
img{
    width: 900px;
}